html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
}

.app {
  display: flex;
  height: 100%; /* Full height of the viewport */
  width: 100%; /* Full width of the viewport */
}

.sidebar {
  width: 15%; /* Sidebar takes 20% of the width */
  background-color: #333;
  padding: 20px;
  border-right: 1px solid #333;
  box-sizing: border-box; /* Include padding and border in the element's total width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Allow scrolling if content overflows */
}

.main-content {
  width: 85%; /* Main content takes 80% of the width */
  padding: 20px;
  box-sizing: border-box; /* Include padding in the element's total width */
  height: 100%; /* Full height */
}
