html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
}

.app {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 15%;
  background: #333;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.main-content {
  width: 85%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.welcome-page {
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
}

.add-article-button {
  margin-top: auto;
}